[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Karim El-Husseiny
	email = karim.elhusseiny@shopify.com
[pull]
	rebase = true
[pager]
	branch = false
[include]
	path = /Users/karim/.config/dev/gitconfig
